<title>Admin Dashboard</title>
</head>
<body>

    <body>
        <div class="ui container">
            <div class="ui labeled icon menu"  id="">
                <div class="item">
                    <i class="home icon"></i>Home
                </div>
                <div class="item">
                    <i class="info icon"></i>
                    <a href="#">About</a>
                </div>
                <div class="item">
                    <i class="users icon"></i>
                    <a href="#">Services</a>
                </div>
                <div class="right item">
                    <i class="sign in icon"></i>
                    <a href="/login">Sign-In</a>
                </div>
                <div class="item">
                    <i class="user secret icon"></i>
                    <a href="/register">Sign-Up</a>
                </div>
            </div>
        </div>

        <div class="ui container">
            <hr>
                  <table class="ui celled table">
                <thead>
                    <tr>
                        <th>Days</th>
                        <th>Waiters</th>
                        <th>Status</th>
                        <th>Space Available</th>

                    </tr>
                </thead>
                <tbody>
                    {{#each days}}
                    <tr class="{{this.class}}">
                        <td>
                            <h4 class="ui image header">
                                <i class="calendar alternate outline icon"></i>
                                <div class="content">
                                    {{this.day}}
                                    <div class="sub header">{{this.status}}
                                    </div>
                                </div>
                            </h4>
                        </td>
                        <td>
                            <div class="ui horizontal list">
                                {{#each names}}
                                <div class="item">
                                    <i class="user icon"></i>
                                    <div class="content">
                                    <div class="sub header">{{firstName}}
                                    </div>
                                </div>
                                </div>
                                {{/each}}
                            </div>
                        </td>
                        <td>
                            <i class="icon {{this.checkmark}}"></i> {{state}}</td>
                        <td>
                            <i class="icon {{state}}"></i> {{space}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </body>