<title>Waiter Home</title>
</head>

<body>
    <hr>
    <div class="ui container">
        <div class="ui icon menu">
            <div class="item">
                <i class="home icon"></i>
            </div>
            <div class="item">
                <i class="info icon"></i>
                <a href="#"></a>
            </div>
            <div class="item">
                <a href="/settings/{{user._id}}">
                    <i class="user circle icon"></i>
                </a>
            </div>

            <div class="right item">
                <a href="/logout">
                    <i class="sign out icon"></i>
                </a>
            </div>
            <div class="ui compact menu">
                <a class="item">
                    <i class="icon mail"></i> Messages
                    <div class="floating ui red label">1</div>
                </a>
                <a class="item">
                    <i class="icon users"></i> Friends
                    <div class="floating ui teal label">3</div>
                </a>
            </div>
        </div>
    </div>
    <hr>
    <div class="ui container">
        <div class="ui message">
            <div class="header">
                Hello, {{user.firstName}}. This is a waiter web app.
            </div>
            <ul class="list">
                <li>You can now manage your shift here</li>
                {{#if messages.error}}
                <li>
                    <em class="error" style="color:red">{{messages.error}}</em>
                </li>
                {{else}}
                <li>Select three prefered working days, and press
                    <em>
                        <b style="color: blue">save</b>
                    </em> button to submit</li>
                {{/if}}
            </ul>
        </div>
        <hr>


    </div>
    <div class="ui container">
        <h4 class="ui horizontal divider blue header">
            <i class="bar chart teal icon"></i>
            Shift
        </h4>
        <form action="" method="POST">
            <table class="ui celled table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Days</th>
                        <th>Waiters</th>
                        <th>Status</th>
                        <th>Space Available</th>

                    </tr>
                </thead>
                <tbody>
                    {{#each days}}
                    <tr class="{{this.class}}">
                        <td>
                            <div class="ui checkbox">
                                <input type="checkbox" id="check" {{this.statusBtn}} name="shift" value="{{this.day}}">
                                <label></label>
                            </div>
                        </td>
                        <td>
                            <h4 class="ui image header">
                                <i class="calendar alternate outline icon"></i>
                                <div class="content">
                                    {{this.day}}
                                    <div class="sub header">{{this.status}}
                                    </div>
                                </div>
                            </h4>
                        </td>
                        <td>
                            <div class="ui horizontal list">
                                {{#each names}}
                                <div class="item">
                                    <i class="user icon"></i>
                                </div>
                                {{/each}}
                            </div>
                        </td>
                        <td>
                            <i class="icon {{this.checkmark}}"></i> {{state}}</td>
                        <td>
                            <i class="icon {{state}}"></i> {{space}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <button class="ui primary button" id="btncheck">
                Save
            </button>
        </form>
    </div>
</body>